:root {
  --background: #342E37;
  --foreground: #F4EDF0;
  --translucent-white: rgba(255, 255, 255, 0.05);
  --translucent-gray: rgba(125, 125, 125, 0.05);
  --translucent-black: rgba(0, 0, 0, 0.05);
  --pink:#6B1D5F;
  --purple:#40226D;
  --blurple:#630FBD;
  --background-gradient: radial-gradient(circle at 33% 0, #6B1D5F, transparent 40%), radial-gradient( circle at 50% 3rem, #40226d, transparent 50%), radial-gradient(circle at 66% 0, #630FBD, transparent 40%);
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Roboto Slab', serif;
  --font-accent: 'Smooch Sans', sans-serif;
  --font-monospace: 'Fira Code', monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #F4EDF0;
    --foreground: #07040D;
    --background-gradient: radial-gradient(circle at 33% 0, rgb(247, 159, 181), transparent 40%), radial-gradient( circle at 50% 3rem, rgb(226, 90, 226), transparent 50%), radial-gradient(circle at 66% 0, skyblue, transparent 40%);
  }
}

html,
body {
  max-width: 100vw;
  height:100%;
}

body {
  color: var(--foreground);
  background: var(--background-gradient), var(--background);
  background-repeat:no-repeat;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position:sticky;
  top:0;
  right:0;
  width:100%;
  padding: 1rem 2rem;
  background:var(--translucent-white);
  backdrop-filter: blur(10px);

  ul {
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;

    li {
      margin: 0;
      padding:0;
      font: 1.25rem var(--font-accent);
      letter-spacing:0.1rem;

      a {
        display:flex;
        justify-content:space-between;
        align-items:center;
        transition-duration:0.5s;
        font-weight:300;
        font-size:0;

        span {
          margin-right:0.5rem;
        }
      }

      a:hover {
        font-size:1.25rem;
        text-shadow: 0 0 0.8rem var(--blurple),
                     0 0 0.2rem var(--foreground),
                     0 0 0.5rem var(--foreground),
                     0 0 0.6rem var(--foreground);
      }
    }

    #searchBar {
      display:flex;
      align-items:center;
    }
  }
  
  #navSearch {
    background: var(--translucent-white);
    border: none;
    border-radius: 0.5rem;
    padding:10px;
    font: 0.8rem var(--font-monospace);
    color:var(--foreground);
    height:37px;
  }
  
  #navSearch::placeholder {
    color: var(--foreground);
  }

  #navSearch:focus {
    box-shadow: 0 0 0.8rem var(--blurple),
    0 0 0.2rem var(--foreground),
    0 0 0.5rem var(--foreground),
    0 0 0.6rem var(--foreground);
  }

  #navSearchButton {
    background:0;
    border:none;
    color:var(--foreground);
    cursor:pointer;
    transition-duration:0.5s;
  }

  #navSearchButton:hover {
    text-shadow: 0 0 0.8rem var(--blurple),
                 0 0 0.2rem var(--foreground),
                 0 0 0.5rem var(--foreground),
                 0 0 0.6rem var(--foreground);
  }
}

h1 {
  font: 2.8rem var(--font-accent);
  letter-spacing:0.1rem;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@media screen and (max-width: 766px) {
  nav ul {
    flex-direction:column;
    align-items: flex-start;
    li {
      font-size:2rem;
    }
  }

  #searchBar {
    width:100%;
  }

  #navSearch {
    width:100%;
  }
}