.profile {
    margin: 0 auto;
    padding:10px 25px;
}

.profile span {
    font: 100 108px var(--font-accent);
    margin:0 10px;
}

.profile img {
    width:64px;
    height:64px;
    object-fit:cover;
    border-radius:10px;
    border:1px solid var(--foreground);
    outline: 6px solid var(--translucent-white);
}